<a href="https://colab.research.google.com/github/nihal-25/ML-LAB/blob/main/1BM22CS178Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from scipy import stats

In [ ]:
filename = "housing.csv"
df = pd.read_csv(filename)

print("Dataset Information:")
print(df.info())

print("\nStatistical Summary of Numerical Columns:")
print(df.describe())

if "Ocean Proximity" in df.columns:
    print("\nUnique Value Counts for 'Ocean Proximity':")
    print(df["Ocean Proximity"].value_counts())
else:
    print("\n'Ocean Proximity' column not found in the dataset.")

missing_values = df.isnull().sum()
missing_columns = missing_values[missing_values > 0]

if not missing_columns.empty:
    print("\nColumns with Missing Values:")
    print(missing_columns)
else:
    print("\nNo missing values found in the dataset.")

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB
None

Statistical Summary of Numerical Columns:
       Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
count       5000.000000          5000.000000                5000.000000
mean       68583.108984             5.977222                   6.987792
std        10657.991214             0.991456                   1.005833
min        17796.631190             2.644304                   3.236194
25%        61480.562390             5.322283                   6.299250
50%        68804.286405             5.970429                   7.002902
75%        75783.338665             6.650808                   7.665871
max       107701.748400             9.519088                  10.759588

       Avg. Area Number of Bedrooms  Area Population         Price
count                   5000.000000      5000.000000  5.000000e+03
mean                       3.981330     36163.516039  1.232073e+06
std                        1.234137      9925.650114  3.531176e+05
min                        2.000000       172.610686  1.593866e+04
25%                        3.140000     29403.928700  9.975771e+05
50%                        4.050000     36199.406690  1.232669e+06
75%                        4.490000     42861.290770  1.471210e+06
max                        6.500000     69621.713380  2.469066e+06

'Ocean Proximity' column not found in the dataset.

No missing values found in the dataset.

In [ ]:
'''Write Python code to implement the following data preprocessing
techniques for Adult income data set'''

def createdata():
  data = {
      'Age': np.random.randint(18, 70, size=20),
      'Salary': np.random.randint(30000, 120000, size=20),
      'Purchased': np.random.choice([0, 1], size=20),
      'Gender': np.random.choice(['Male', 'Female'], size=20),
      'City': np.random.choice(['New York', 'San Francisco', 'Los Angeles'], size=20)
  }

  df = pd.DataFrame(data)
  return df
  df = createdata()
df.head(10)

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,USNS Raymond\nFPO AE 09386
5,80175.75416,4.988408,6.104512,4.04,26748.42842,1.068138e+06,"06039 Jennifer Islands Apt. 443\nTracyport, KS..."
6,64698.46343,6.025336,8.147760,3.41,60828.24909,1.502056e+06,"4759 Daniel Shoals Suite 442\nNguyenburgh, CO ..."
7,78394.33928,6.989780,6.620478,2.42,36516.35897,1.573937e+06,"972 Joyce Viaduct\nLake William, TN 17778-6483"
8,59927.66081,5.362126,6.393121,2.30,29387.39600,7.988695e+05,USS Gilbert\nFPO AA 20957
9,81885.92718,4.423672,8.167688,6.10,40149.96575,1.545155e+06,Unit 9446 Box 0958\nDPO AE 97025

In [ ]:
# Introduce some missing values for demonstration
df.loc[5, 'Age'] = np.nan
df.loc[10, 'Salary'] = np.nan
df.head(10)

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address,Age,Salary
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701...",NaN,NaN
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA...",NaN,NaN
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482...",NaN,NaN
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,USS Barnett\nFPO AP 44820,NaN,NaN
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,USNS Raymond\nFPO AE 09386,NaN,NaN
5,80175.75416,4.988408,6.104512,4.04,26748.42842,1.068138e+06,"06039 Jennifer Islands Apt. 443\nTracyport, KS...",NaN,NaN
6,64698.46343,6.025336,8.147760,3.41,60828.24909,1.502056e+06,"4759 Daniel Shoals Suite 442\nNguyenburgh, CO ...",NaN,NaN
7,78394.33928,6.989780,6.620478,2.42,36516.35897,1.573937e+06,"972 Joyce Viaduct\nLake William, TN 17778-6483",NaN,NaN
8,59927.66081,5.362126,6.393121,2.30,29387.39600,7.988695e+05,USS Gilbert\nFPO AA 20957,NaN,NaN
9,81885.92718,4.423672,8.167688,6.10,40149.96575,1.545155e+06,Unit 9446 Box 0958\nDPO AE 97025,NaN,NaN

In [ ]:
#Data Cleaning
# Check for missing values in each column
missing_values = df.isnull().sum()

# Display columns with missing values
print(missing_values[missing_values > 0])

Age       5000
Salary    5000
dtype: int64

In [ ]:
'''Write Python code to implement the following data preprocessing
techniques for Diabetes data set'''

def create_diabetes_data():
    data = {
        'Age': np.random.randint(20, 80, size=20),
        'Glucose': np.random.randint(50, 200, size=20),
        'BMI': np.random.uniform(18.5, 45.0, size=20),
        'Gender': np.random.choice(['Male', 'Female'], size=20),
        'Outcome': np.random.choice([0, 1], size=20)
    }

    df = pd.DataFrame(data)

    # Introduce some missing values for demonstration
    df.loc[5, 'Glucose'] = np.nan
    df.loc[10, 'BMI'] = np.nan

    return df

# Load dataset
df = create_diabetes_data()
print("Original Data:\n", df.head())

Original Data:
    Age  Glucose        BMI  Gender  Outcome
0   40     93.0  27.220687  Female        1
1   30     81.0  43.694932    Male        1
2   48    120.0  19.992341    Male        1
3   20    176.0  21.401444  Female        0
4   49    104.0  23.392411    Male        0

In [ ]:
# Data Cleaning - Handling Missing Values
imputer_glucose = SimpleImputer(strategy="median")
imputer_bmi = SimpleImputer(strategy="mean")

df_copy = df.copy()
df_copy["Glucose"] = imputer_glucose.fit_transform(df_copy[["Glucose"]])
df_copy["BMI"] = imputer_bmi.fit_transform(df_copy[["BMI"]])

print(df_copy["Glucose"].isnull().sum())
print(df_copy["BMI"].isnull().sum())

0
0

In [ ]:
# Handling Categorical Attributes
# Ordinal Encoding for Gender
ordinal_encoder = OrdinalEncoder(categories=[["Male", "Female"]])
df_copy["Gender_Encoded"] = ordinal_encoder.fit_transform(df_copy[["Gender"]])

# One-Hot Encoding for Outcome column
onehot_encoder = OneHotEncoder()
encoded_outcome = onehot_encoder.fit_transform(df_copy[["Outcome"]]).toarray()
encoded_df = pd.DataFrame(encoded_outcome, columns=onehot_encoder.get_feature_names_out(["Outcome"]))

df_encoded = pd.concat([df_copy, encoded_df], axis=1)
df_encoded.drop(["Gender", "Outcome"], axis=1, inplace=True)

print("\nAfter Encoding:\n", df_encoded.head())

After Encoding:
    Age  Glucose        BMI  Gender_Encoded  Outcome_0  Outcome_1
0   40     93.0  27.220687             1.0        0.0        1.0
1   30     81.0  43.694932             0.0        0.0        1.0
2   48    120.0  19.992341             0.0        0.0        1.0
3   20    176.0  21.401444             1.0        1.0        0.0
4   49    104.0  23.392411             0.0        1.0        0.0

In [ ]:
# Data Transformation
# Min-Max Scaling for BMI
normalizer = MinMaxScaler()
df_encoded[['BMI']] = normalizer.fit_transform(df_encoded[['BMI']])
df_encoded.head()

   Age  Glucose       BMI  Gender_Encoded  Outcome_0  Outcome_1
0   40     93.0  0.312217             1.0        0.0        1.0
1   30     81.0  1.000000             0.0        0.0        1.0
2   48    120.0  0.010441             0.0        0.0        1.0
3   20    176.0  0.069270             1.0        1.0        0.0
4   49    104.0  0.152390             0.0        1.0        0.0

In [ ]:
# Standardization for Age
scaler = StandardScaler()
df_encoded[['Age']] = scaler.fit_transform(df_encoded[['Age']])

print("\nFinal Preprocessed Data:\n", df_encoded.head())

Final Preprocessed Data:
         Age  Glucose       BMI  Gender_Encoded  Outcome_0  Outcome_1
0 -0.540482     93.0  0.312217             1.0        0.0        1.0
1 -1.172625     81.0  1.000000             0.0        0.0        1.0
2 -0.034768    120.0  0.010441             0.0        0.0        1.0
3 -1.804767    176.0  0.069270             1.0        1.0        0.0
4  0.028446    104.0  0.152390             0.0        1.0        0.0